.profile__add-btn{
  background-color: var(--bg-dark-color);
  border: solid 1px var(--font-color);
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.profile__add-btn:hover{
  opacity: 0.6;
}
